<!DOCTYPE html>
<link rel="icon"
      type="image/ico"
      href="static/resibridge.ico">
<html>

  <head>
    <!-- Add Inputmask library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script>
      $(document).ready(function () {
        // Apply phone number mask
        $("#phone").inputmask("(999) 999-9999");

        // Capitalize the first letter of each word for Name and City
        $("#name, #city").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $(this).val(value.replace(/\b\w/g, function (l) { return l.toUpperCase(); }));
        });
      });
    </script>
    <title>ResiBridge Tech App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add viewport meta tag for mobile responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">ResiBridge Tech App</div>
        <nav>
          <ul>
            <li class="dropdown">
              <a href="#" class="dropbtn">Customers</a>
              <div class="dropdown-content">
                  <a href="/add_customer">Add Customers</a>
                  <a href="/customers">All Customers</a>
                  <a href="/customers_active">Active Customers</a>
              </div>
          </li>
          <li class="dropdown">
              <a href="#" class="dropbtn">ACP</a>
              <div class="dropdown-content">
                  <a href="/report/selection">ACP Transactions</a>
                  <a href="/acp/enroll">ACP Enroll</a>
                  <a href="/acp/verify">ACP Verify</a>
              </div>
          </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>Banking</h1>
      <!-- Add Customer Form -->
      <div class="form-container">
        <form method="POST" action="{{ url_for('banking') }}">
          <input type="hidden" name="customer_id" value="{{ customer_id }}">
          <h2>Credit Card</h2>
          <div class="form-group form-group-2" id="cc-form">
            <div class="input-container">
              <label for="field_1">Card Number</label>
              <input type="text" id="field_1" name="field_1" placeholder="345345345345">
            </div>
            <div class="input-container">
              <label for="field_2">Cardholder Name</label>
              <input type="text" id="field_2" name="field_2" placeholder="Jon Doe">
            </div>
          </div>
          <div class="form-group form-group-2">
            <div class="input-container">
              <label for="field_3">Card Last 4</label>
              <input type="text" id="field_3" name="field_3" placeholder="5443">
            </div>
            <div class="input-container">
              <label for="field_4">Expiration Date</label>
              <input type="text" id="field_4" name="field_4" placeholder="04-2024">
            </div>
          </div>
          <h2>Bank Account</h2>
          <div class="form-group form-group-2" id="bank-form">
            <div class="input-container">
              <label for="field_6">Account Number</label>
              <input type="text" id="field_6" name="field_6" placeholder="674847623498745">
            </div>
            <div class="input-container">
              <label for="field_7">Routing Number</label>
              <input type="text" id="field_7" name="field_7" placeholder="4568974538976">
            </div>
          </div>
          <div class="form-group form-group-2">
            <div class="input-container">
              <label for="field_8">Name on Account</label>
              <input type="text" id="field_8" name="field_8" placeholder="Jon Doe">
            </div>
            <div class="input-container">
              <label for="field_9">Account Type</label>
              <input type="text" id="field_9" name="field_9" placeholder="checking">
            </div>
          </div>
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="customer_id" value="{{ customer_id }}">
          <div class="form-container">
            <input class="edit-form-button" type="submit" value="Add Banking">
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div style="display: flex; justify-content: space-between;">
          <p class="copyright">&copy; {{ year }} ResiBridge</p>
          <p class="ip">{{ public }} </p>
          <p class="time">{{ date }} </p>
      </div>
    </footer>
  </body>
</html>
