<!DOCTYPE html>
<link rel="icon"
      type="image/ico"
      href="static/resibridge.ico">
<html>

  <head>
    <!-- Add Inputmask library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <script>
      $(document).ready(function () {
        // Apply phone number mask
        $("#phone").inputmask("(999) 999-9999");

        // Capitalize the first letter of each word for Name and City
        $("#name, #city").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $(this).val(value.replace(/\b\w/g, function (l) { return l.toUpperCase(); }));
        });
      });
    </script>
    <title>ResiBridge Tech App - Customers</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <style>
      /* Dropdown menu styles */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">ResiBridge Tech App</div>
          <nav>
            <ul>
            <li class="dropdown">
                <a href="#" class="dropbtn">Customers</a>
                <div class="dropdown-content">
                    <a href="/add_customer">Add Customers</a>
                    <a href="/customers">All Customers</a>
                    <a href="/customers_active">Active Customers</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">ACP</a>
                <div class="dropdown-content">
                    <a href="/report/selection">ACP Transactions</a>
                    <a href="/acp/enroll">ACP Enroll</a>
                    <a href="/acp/verify">ACP Verify</a>
                </div>
            </li>
            </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>Customers</h1>
      <!-- List Customers -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th class="hide-on-mobile">Login</th>
              <th class="hide-on-mobile">Email</th>
              <th>Phone</th>
              <th class="hide-on-mobile">Location</th>
              <th class="hide-on-mobile">Street</th>
              <th class="hide-on-mobile">ZIP</th>
              <th class="hide-on-mobile">City</th>
              <th>Status</th>
              <th class="action-buttons-mobile">Edit</th>
              <th class="action-buttons-mobile">Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr>
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td class="hide-on-mobile">{{ customer.login }}</td>
              <td class="hide-on-mobile">{{ customer.email }}</td>
              <td>{{ customer.phone }}</td>
              {% if customer.location_id == '1' %}
              <td class="hide-on-mobile">Park79</td>
              {% elif customer.location_id == '2' %}
              <td class="hide-on-mobile">Cambridge</td>
              {% else %}
              <td class="hide-on-mobile"></td>
              {% endif %}
              <td class="hide-on-mobile">{{ customer.street_1 }}</td>
              <td class="hide-on-mobile">{{ customer.zip_code }}</td>
              <td class="hide-on-mobile">{{ customer.city }}</td>
              <td>{{ customer.status }}</td>
              <td class="action-buttons-mobile">
                <button class="edit-button"
                  onclick="editCustomer('{{ customer.id }}', '{{ customer.name }}', '{{ customer.email }}', '{{ customer.street }}', '{{ customer.city }}', '{{ customer.zip }}', '{{ customer.phone }}', '{{ customer.location }}', '{{ customer.status }}')"
                  type="button">Edit</button>
              </td>
              <td class="action-buttons-mobile">
                <button class="remove-button" onclick="confirmDelete('{{ customer.id }}', '{{ customer.name }}')">Remove</button>
              </td>
            </tr>
            <tr class="hide-on-mobile">
              <td colspan="12">
                <div class="edit-form-wrapper" id="editFormWrapper{{ customer.id }}" style="display: none;">
                  <div class="form-container">
                    <form action="/edit_customer" class="edit-form-container" id="editForm{{ customer.id }}" method="post">
                      <input name="customer_id" type="hidden" value="{{ customer.id }}" />
                      <h1>Edit Customer</h1>
                      <div class="form-group form-group-2">
                        <div class="input-container">
                          <label for="editName">Name:</label>
                          <input id="editName{{ customer.id }}" name="editName" type="text" />
                        </div>
                        <div class="input-container">
                          <label for="editEmail">Email:</label>
                          <input id="editEmail{{ customer.id }}" name="editEmail" type="email" />
                        </div>
                      </div>
                      <div class="form-group form-group-3">
                        <div class="input-container">
                          <label for="editStreet">Street:</label>
                          <input id="editStreet{{ customer.id }}" name="editStreet" type="text" />
                        </div>
                        <div class="input-container">
                          <label for="editCity">City:</label>
                          <input id="editCity{{ customer.id }}" name="editCity" type="text" />
                        </div>
                        <div class="input-container">
                          <label for="editZip">Zip:</label>
                          <input id="editZip{{ customer.id }}" name="editZip" required pattern="\d{5}" type="text" />
                        </div>
                      </div>
                      <div class="form-group form-group-3">
                        <div class="input-container">
                          <label for="editPhone">Phone:</label>
                          <input id="editPhone{{ customer.id }}" name="editPhone" type="tel" />
                        </div>
                        <div class="input-container">
                          <label for="location">Location</label>
                          <select id="editLocation{{ customer.id }}" name="location">
                            <option selected="" value="1">Park79</option>
                            <option value="2">Cambridge</option>
                          </select>
                        </div>
                        <div class="input-container">
                          <label for="editStatus">Status:</label>
                          <select id="editStatus{{ customer.id }}" name="editStatus">
                            <option value="active">Active</option>
                            <option value="disabled">Disabled</option>
                            <option selected="" value="new">New</option>
                            <option value="blocked">Blocked</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group form-group-2">
                        <input class="edit-form-button" type="submit" value="Save" />
                        <button class="edit-form-button" onclick="cancelEdit('{{ customer.id }}')" type="button">Cancel</button>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <div style="display: flex; justify-content: space-between;">
          <p class="copyright">&copy; {{ year }} ResiBridge</p>
          <p class="ip">{{ public }} </p>
          <p class="time">{{ date }} </p>
      </div>
    </footer>
    <script>
      window.onload = function () {
        const editForms = document.querySelectorAll('.edit-form-container');
        editForms.forEach(form => {
          form.style.display = 'none';
        });
      };

      function editCustomer(customerId, name, email, street, city, zip, phone, location, status) {
        document.getElementById('editName' + customerId).value = name;
        document.getElementById('editStreet' + customerId).value = street;
        document.getElementById('editEmail' + customerId).value = email;
        document.getElementById('editPhone' + customerId).value = phone;
        document.getElementById('editCity' + customerId).value = city;
        document.getElementById('editZip' + customerId).value = zip;
        document.getElementById('editStatus' + customerId).value = status;
        document.getElementById('editLocation' + customerId).value = location;
        document.getElementById('editForm' + customerId).style.display = 'block';
        document.getElementById('editFormWrapper' + customerId).style.display = 'flex';
      }


      function cancelEdit(customerId) {
        document.getElementById('editForm' + customerId).style.display = 'none';
        document.getElementById('editFormWrapper' + customerId).style.display = 'none';
      }

      function confirmDelete(customerId, name) {
        if (confirm("Are you sure you want to delete " + name + "?")) {
          fetch(`/delete_customer/${customerId}`, { method: 'POST' })
            .then(response => {
              if (response.ok) {
                alert(name + " has been removed");
                location.reload();
              } else {
                console.error("Failed to delete " + name);
              }
            })
            .catch(error => console.error(error));
        } else {
          // User clicked "Cancel" button
          return false;
        }
      }
    </script>
  </body>

</html>