/* Color palette */
:root {
  --primary-color: #20a8ac; /* Primary color - Teal */
  --secondary-color: #e64646; /* Secondary color - Red */
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
  overflow-x: hidden;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #007d82;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 18px;
  font-weight: bold;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

header nav li {
  position: relative;
}

header nav a {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  transition: background-color 0.3s ease;
}

header nav a:hover {
  background-color: #007d82;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #007d82;
}

/* Main content styles */
main {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

h2 {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Additional Widget Container Style */
.widget-container {
  max-width: 100%; /* You can set this to a specific width if needed */
}

/* Splynx Widget Iframe Style */
.splynx-widget {
  height: 600px; /* Adjust height as needed */
  border: none; /* Remove the border if desired */
  border-radius: 10px;
}

/* Add Customer Form */
.form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  margin: auto;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-group-2,
.form-group-3,
.form-group-4,
.form-group-5,
.edit-form-group-4 {
  display: grid;
  gap: 30px;
}

.form-group-2 {
  grid-template-columns: 0.50fr 0.50fr;
}

.form-group-3 {
  grid-template-columns: 0.50fr 0.25fr 0.25fr;
}

.form-group-4 {
  grid-template-columns: 0.50fr 0.10fr 0.20fr 0.20fr;
}

.form-group-5 {
  grid-template-columns: 0.40fr 0.15fr 0.15fr 0.10fr 0.20fr;
}

.edit-form-group-4 {
  grid-template-columns: 0.50fr 0.15fr 0.15fr 0.15fr;
}

form {
  width: 90%;
  padding: 10px;
}

.form-group label {
  margin-bottom: 5px;
  color: white;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  text-align: left;
}

/* Centering the edit form */
.edit-form-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.edit-form-container input[type="submit"],
.edit-form-container button {
  margin-top: 10px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 50%;
}

.edit-form-wrapper.show {
  display: flex;
}

.edit-form-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--primary-color);
  margin: auto;
}

.edit-form-button {
  margin-top: 10px;
  color: white;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

/* Style to make the table responsive
.table-responsive {
  overflow-x: auto;
}*/

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px; /* Reduce padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  word-wrap: break-word; /* Allow text to wrap */
  font-size: 14px; /* Reduce font size if needed */
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #dad1d1;
}

@media screen and (min-width: 1250px) and (max-width: 1500px) {
  .table th,
  .table td {
    padding: 8px; /* Further reduce padding */
    font-size: 12px; /* Further reduce font size if needed */
  }
}

@media screen and (min-width: 769px) and (max-width: 1249px) {
  .table th,
  .table td {
    padding: 4px; /* Further reduce padding */
    font-size: 8px; /* Further reduce font size if needed */
  }
}

@media screen and (max-width: 768px) {
  .form-group {
    grid-template-columns: 1fr;
  }

  .table th,
  .table td {
    padding: 4px; /* Further reduce padding */
    font-size: 8px;
  }

  .hide-on-mobile {
    display: none; /* Hide specific table headers and data cells */
  }

  .edit-form-container {
    padding: 10px;
  }

  /*.table-responsive {
    overflow-x: auto;
  }*/

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .table tr:hover {
    background-color: #f5f5f5;
  }

  .edit-button,
  .remove-button {
    width: 80%; /* Full width for buttons */
    margin: 5px 5px; /* Add some vertical spacing */
    font-size: 6px;
    padding: 3px;
  }
}