/* Color palette */
:root {
  --primary-color: #20A8AC;
  /* Primary color - Teal */
  --secondary-color: #E64646;
  /* Secondary color - Red */
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #007d82;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 18px;
  font-weight: bold;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

header nav li {
  position: relative;
}

header nav a {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  transition: background-color 0.3s ease;
}

header nav a:hover {
  background-color: #007d82;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #007d82;
}

/* Buttons in the header */
header nav li:not(.dropdown) {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* Status buttons */
.active {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.inactive {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.active:hover {
  background-color: var(--secondary-color);
}

.inactive:hover {
  background-color: var(--primary-color);
}

/* Alternate row colors for the table */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #eaeaea;
}

/* CSS for the pop-up window */
.edit-form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
  width: 100%;
}

/* New CSS class for the form container */
.edit-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  padding: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.edit-form-container p {
  margin-bottom: 5;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.edit-form-container input[type="submit"],
.edit-form-container button {
  margin: auto;
  width: 50%;
}

.hidden {
  display: none;
}

.edit-form table {
  width: 100%;
}

.edit-form table td {
  padding: 10px;
}

.edit-form label {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form input[type="email"],
.edit-form input[type="tel"],
.edit-form input[type="text"],
.edit-form select {
  /*border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 100%; */
  margin: 0 auto;
}

.edit-form .buttons {
  margin-top: 20px;
  text-align: right;
}

.edit-form button,
.edit-form input[type="submit"] {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.edit-form button:hover,
.edit-form input[type="submit"]:hover {
  background-color: #007d82;
}

/* Additional styles for the pop-up window */
.edit-form .buttons button {
  background-color: var(--secondary-color);
  margin-right: 10px;
}

.edit-form .buttons button:last-child {
  margin-right: 0;
}

.edit-form .buttons button:hover {
  background-color: #d13a3a;
}

/* Main content styles */
main {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Add Customer Form */
/* Center the form elements */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  max-width: 300px;
  /* Adjust this width as needed */
  margin-bottom: 10px;
}

/* Additional style to center the form elements */
.edit-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  /* Adjust this width as needed */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

h1 {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  text-align: center;
}

/* Center the form elements */
.form-container:before {
  content: "";
  flex: 1 1 auto;
}

.form-group {
  flex: 0 0 auto;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  text-align: left;
}