<!DOCTYPE html>
<link rel="icon"
      type="image/ico"
      href="static/resibridge.ico">
<html>

  <head>
    <!-- Add Inputmask library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <title>ResiBridge Tech App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Add viewport meta tag for mobile responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">ResiBridge Tech App</div>
        <nav>
          <ul>
            <li>
              <a>Login</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>Welcome</h1>
      <div class="form-container">
        <form method="POST" action="/get_token">
          <input type="submit" value="Get Token">
        </form>
      </div>
    </main>
    <footer>
      <div style="display: flex; justify-content: space-between;">
          <p class="copyright">&copy; {{ year }} ResiBridge</p>
          <p class="ip">{{ public }} </p>
          <p class="time">{{ date }} </p>
      </div>
    </footer>
  </body>
</html>
