<!DOCTYPE html>
<link rel="icon"
      type="image/ico"
      href="static/resibridge.ico">
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>ResiBridge Tech App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">ResiBridge Tech App</div>
            <nav>
                <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Customers</a>
                    <div class="dropdown-content">
                        <a href="/add_customer">Add Customers</a>
                        <a href="/customers">All Customers</a>
                        <a href="/customers_active">Active Customers</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">ACP</a>
                    <div class="dropdown-content">
                        <a href="/report/selection">ACP Transactions</a>
                        <a href="/acp/enroll">ACP Enroll</a>
                        <a href="/acp/verify">ACP Verify</a>
                        <a href="/acp/transfer">ACP Transfer</a>
                    </div>
                </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Confirm Transfer</h1>
        <h3>A duplicate transaction was detected. Do you want to transfer the subscriber to your SAC number?</h3>
        <div class="form-container">
            <form action="/handle_transfer" method="post">
                <div class="form-group form-group-2">
                    <div class="form-container">
                        <input type="submit" class="edit-form-button" name="decision" value="Yes">
                    </div>
                    <div class="form-container">
                        <input type="submit" class="edit-form-button" name="decision" value="No">
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <div style="display: flex; justify-content: space-between;">
                <p class="copyright">&copy; {{ year }} ResiBridge</p>
                <p class="ip">{{ cx }} </p>
                <p class="time">{{ date }} </p>
            </div>
          </footer>
    </main>
</body>

</html>
