<!DOCTYPE html>
<link rel="icon"
      type="image/ico"
      href="{{ url_for('static', filename='resibridge.ico') }}">

<html lang="en">
    <head>
        <!-- Add Inputmask library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Include jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transaction Report</title>
        <title>ResiBridge Tech App - Customers</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
        <style>
        /* Dropdown menu styles */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
        </style>
    </head>
    <body>
        <header>
            <div class="container">
            <div class="logo">ResiBridge Tech App</div>
            <nav>
                <ul>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Customers</a>
                    <div class="dropdown-content">
                        <a href="/add_customer">Add Customers</a>
                        <a href="/customers">All Customers</a>
                        <a href="/customers_active">Active Customers</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">ACP</a>
                    <div class="dropdown-content">
                        <a href="/report/selection">ACP Transactions</a>
                        <a href="/acp_enroll">ACP Enroll</a>
                        <a href="/acp_verify">ACP Verify</a>
                        <a href="/acp/transfer">ACP Transfer</a>
                    </div>
                </li>
                </ul>
            </nav>
            </div>
        </header>
        <main>
            <h1>ACP Transaction Report</h1>
            <a href="{{ url_for('acp.download_csv') }}" class="btn btn-primary">Download CSV</a>
            <div class="table-responsive"> 
                <table class="table">
                    {% for row in csv_content.splitlines() %}
                        <tr>
                            {% for cell in row.split(',') %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
        <footer>
            <div style="display: flex; justify-content: space-between;">
                <p class="copyright">&copy; {{ year }} ResiBridge</p>
                <p class="ip">{{ cx }} </p>
                <p class="time">{{ date }} </p>
            </div>
          </footer>
    </body>
</html>
