<!DOCTYPE html>
<html>

  <head>
    <title>ResiBridge Tech App - Customers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
      /* Dropdown menu styles */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">ResiBridge Tech App</div>
        <nav>
          <ul>
            <li><a href="/">TechApp</a></li>
            <li class="dropdown">
              <a href="#" class="dropbtn">Customers</a>
              <div class="dropdown-content">
                <a href="/customers">Customers</a>
                <a href="/customers_active">Customers Active</a>
              </div>
            </li>
            <li class="dropdown">
              <a href="#" class="dropbtn">Blank Id</a>
              <div class="dropdown-content">
                <a href="/blank_id">BlankIDs</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>Customers</h1>
      {% if token_status == 'active' %}
      <button class="active">Token Active</button>
      {% else %}
      <button class="inactive">Token Expired</button>
      <form action="/refresh" method="post">
        <input type="submit" value="Refresh Token">
      </form>
      {% endif %}

      <!-- Add Customer Form -->
      <form action="/add_customer" method="post" class="form-container">
        <h2>Add New Customer</h2>
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" required>
          <label for="login">Login:</label>
          <input type="text" id="login" name="login" required>
        </div>
        <p><label for="status">Status:</label>
          <select id="status" name="status">
            <option value="active">Active</option>
            <option value="disabled">Disabled</option>
            <option value="new" selected>New</option>
            <option value="blocked">Blocked</option>
          </select>
        </p>
        <input type="submit" value="Add Customer">
      </form>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
          <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.login }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.status }}</td>
            <td>
              <button type="button" class="edit-button"
                onclick="editCustomer('{{ customer.id }}', '{{ customer.name }}', '{{ customer.login }}', '{{ customer.email }}', '{{ customer.phone }}', '{{ customer.status }}')">Edit</button>
              <button onclick="confirmDelete('{{ customer.id }}', '{{ customer.name }}')">Remove</button>

              <!-- Edit Customer Form -->
              <form id="editForm{{ customer.id }}" action="/edit_customer" method="post" class="edit-form-container"
                style="display: none;">
                <input type="hidden" name="customer_id" value="{{ customer.id }}">
                <h1>Edit Customer</h1>
                <p><label for="editName">Name:</label>
                  <input type="text" id="editName" name="editName">
                </p>
                <p><label for="editLogin">Login:</label>
                  <input type="text" id="editLogin" name="editLogin">
                </p>
                <p><label for="editEmail">Email:</label>
                  <input type="email" id="editEmail" name="editEmail">
                </p>
                <p><label for="editPhone">Phone:</label>
                  <input type="tel" id="editPhone" name="editPhone">
                </p>
                <p><label for="status">Status:</label></p>
                <p><select id="editStatus" name="editStatus">
                  <option value="active">Active</option>
                  <option value="disabled">Disabled</option>
                  <option value="new" selected>New</option>
                  <option value="blocked">Blocked</option>
                </select></p>
                <h1><input type="submit" value="Save">
                <button type="button" onclick="cancelEdit('{{ customer.id }}')">Cancel</button></h1>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
    <footer>
      <p>&copy; 2023 ResiBridge</p>
    </footer>
    <script>
      window.onload = function () {
        const editForms = document.querySelectorAll('.edit-form-container');
        editForms.forEach(form => {
          form.style.display = 'none';
        });
      };

      function editCustomer(customerId, name, login, email, phone, status) {
        document.getElementById('editName').value = name;
        document.getElementById('editLogin').value = login;
        document.getElementById('editEmail').value = email;
        document.getElementById('editPhone').value = phone;
        document.getElementById('editStatus').value = status;
        document.getElementById('editForm' + customerId).style.display = 'block';
      }

      function cancelEdit(customerId) {
        document.getElementById('editForm' + customerId).style.display = 'none';
      }

      function confirmDelete(customerId, name) {
        if (confirm("Are you sure you want to delete " + name + " ?")) {
          fetch(`/delete_customer/${customerId}`, { method: 'POST' })
            .then(response => {
              if (response.ok) {
                alert(name + " has been removed");
                location.reload();
              } else {
                console.error("Failed to delete " + name);
              }
            })
            .catch(error => console.error(error));
        } else {
          // User clicked "Cancel" button
          return false;
        }
      }
    </script>
  </body>

</html>