<!DOCTYPE html>
<html>

  <head>
    <title>ResiBridge Tech App - Customers</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    <style>
      /* Dropdown menu styles */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    </style>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">ResiBridge Tech App</div>
        <nav>
          <ul>
            <li>
              <a href="/">TechApp</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropbtn">Customers</a>
              <div class="dropdown-content">
                <a href="/customers">Customers</a>
                <a href="/customers_active">Customers Active</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>Active Customers</h1>
      {% if token_status == 'active' %}
      <button class="active">Token Active</button>
      {% else %}
      <button class="inactive">Token Expired</button>
      <form action="/refresh" method="post">
        <input type="submit" value="Refresh Token">
      </form>
      {% endif %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th class="hide-on-mobile">Login</th>
              <th>Email</th>
              <th>Phone</th>
              <th class="hide-on-mobile">Location</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            {% if customer.status == 'active' %}
            <tr onclick="showCustomerAttributes('{{ customer.id }}')">
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td class="hide-on-mobile">{{ customer.login }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.phone }}</td>
              {% if customer.location_id == '1' %}
              <td class="hide-on-mobile">Park79</td>
              {% elif customer.location_id == '2' %}
              <td class="hide-on-mobile">Cambridge</td>
              {% else %}
              <td class="hide-on-mobile"></td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 ResiBridge</p>
    </footer>
    <script>
      function showCustomerAttributes(customerId) {
        fetch(`/customer_attributes/${customerId}`)
          .then(response => response.json())
          .then(data => {
            let customer = data.find(c => c.id === customerId);
            let attributes = '';
            for (const [variable, value] of Object.entries(customer)) {
              attributes += `${variable}: ${value}\n`;
            }
            alert(attributes);
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
    </script>
</html>