<!DOCTYPE html>
<link rel="icon"
      type="image/ico"
      href="static/resibridge.ico">
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <title>ResiBridge Tech App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">ResiBridge Tech App</div>
          <nav>
              <ul>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Customers</a>
                  <div class="dropdown-content">
                      <a href="/add_customer">Add Customers</a>
                      <a href="/customers">All Customers</a>
                      <a href="/customers_active">Active Customers</a>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">ACP</a>
                  <div class="dropdown-content">
                      <a href="/report/selection">ACP Transactions</a>
                      <a href="/acp/enroll">ACP Enroll</a>
                      <a href="/acp/verify">ACP Verify</a>
                  </div>
              </li>
              </ul>
          </nav>
      </div>
    </header>
    <main>
      <h1>Onboarding</h1>
      <!-- Add Customer Form -->
      <div class="form-container">
        <form method="POST" action="{{ url_for('add_customer') }}">
          <div class="form-group form-group-3">
            <div class="input-container">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" required>
            </div>
            <div class="input-container">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required>
            </div>
            <div class="input-container">
              <label for="dob">Date of Birth</label>
              <input type="date" id="dob" name="dob" required>
            </div>
          </div>
          <div class="form-group form-group-4">
            <div class="input-container">
              <label for="street">Street</label>
              <input type="text" id="street" name="street" required>
            </div>
            <div class="input-container">
              <label for="unit_number">Unit</label>
              <input type="text" id="unit_number" name="unit_number">
            </div>
            <div class="input-container">
              <label for="zip">ZIP</label>
              <input type="text" id="zip" name="zip" required pattern="\d{5}">
            </div>
            <div class="input-container">
              <label for="city">City</label>
              <input type="text" id="city" name="city" required>
            </div>
          </div>
          <div class="form-group form-group-4">
            <div class="input-container">
              <label for="phone">Phone</label>
              <input type="tel" id="phone" name="phone" required pattern="\d{10}">
            </div>
            <div class="input-container">
              <label for="status">Status</label>
              <select id="status" name="status">
                <option value="active">Active</option>
                <option value="new">New</option>
                <option value="disabled">Disabled</option>
                <option value="blocked">Blocked</option>
              </select>
            </div>
            <div class="input-container">
              <label for="ssn_last4">Last 4 of Social</label>
              <input type="text" id="ssn_last4" name="ssn_last4" maxlength="4" required>
            </div>
            <div class="input-container">
              <label for="location">Location</label>
              <select id="location" name="location">
                <option value="1" selected>Park79</option>
                <option value="2">Cambridge</option>
              </select>
            </div>
          </div>
          <div class="form-group form-group-2">
            <div>
              <input class="edit-form-button" type="button" id="verify-btn" value="Verify Customer">
              <span id="verification-status"></span>
            </div>
            <div>
              <input class="edit-form-button" type="button" id="enroll-btn" value="Enroll Customer">
              <span id="enrollment-status"></span>
            </div>
          </div>
          <div>
            <input class="edit-form-button" type="submit" value="Add Customer">
          </div>
        </form>
      </div>
      <footer>
        <div style="display: flex; justify-content: space-between;">
            <p class="copyright">&copy; {{ year }} ResiBridge</p>
            <p class="ip">{{ public }} </p>
            <p class="time">{{ date }} </p>
        </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $('#verify-btn').click(function() {
        let locationValue = $('input[name="location"]').val();
        let stateValue;
    
        if(locationValue == "1") {
          stateValue = "NY";
        } else if(locationValue == "2") {
          stateValue = "KY";
        }  
          let customerData = {
            name: $('input[name="name"]').val(),
            email: $('input[name="email"]').val(),
            dob: $('input[name="dob"]').val(),
            street: $('input[name="street"]').val(),
            unit: $('input[name="unit"]').val(),
            zip: $('input[name="zip"]').val(),
            city: $('input[name="city"]').val(),
            phone: $('input[name="phone"]').val(),
            ssn_last4: $('input[name="ssn_last4"]').val(),
            state: stateValue
          };
  
          $.ajax({
              type: 'POST',
              url: '/verify_customer',  // New verification route
              data: JSON.stringify(customerData),
              contentType: 'application/json;charset=UTF-8',
              success: function(response) {
                  $('#verification-status').text(response.message);
                  if (response.success) {
                      // Change the text or style to indicate success
                      $('#verification-status').css('color', 'green');
                  } else {
                      $('#verification-status').css('color', 'red');
                  }
              },
              error: function(error) {
                  $('#verification-status').text("Error occurred during verification.");
                  $('#verification-status').css('color', 'red');
              }
          });
      });
  </script>
</html>