<!DOCTYPE html>
<html>
  <head>
    <title>ResiBridge Tech App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">ResiBridge Tech App</div>
        <nav>
          <ul>
            <li>
              <a href="/">TechApp</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropbtn">Customers</a>
              <div class="dropdown-content">
                <a href="/customers">Customers</a>
                <a href="/customers_active">Customers Active</a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <h1>Onboarding</h1>
      <!-- Add Customer Form -->
      <form action="/add_customer" method="post" class="form-container">
        <h1 style="width:75%;">Add New Customer</h1>
        <div class="form-group-2">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>  
        <div class="form-group-2">
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" required oninput="formatPhoneNumber(this)">
<!--  Need to make changes to label
      Instead of having label be an input, change to Unit#
      We can use the Unit# and Location to create and enter the Login automatically
      Format for Input should be LocationUnit# ie "Park79unit3b"
        -->          
          <label for="login">Login:</label>
          <input type="text" id="login" name="login" required>
        </div>
        <div class="form-group-2" style="width: 100%;">
          <label for="street">Street:</label>
          <input type="text" id="street" name="street" required>
        </div>
        <div class="form-group-2">
          <label for="zip">ZIP:</label>
          <input type="text" id="zip" name="zip" required inputmode="numeric" pattern="[0-9]{5}"
            title="Please enter a valid 5-digit ZIP code" required>
          <label for="city">City:</label>
          <input type="text" id="city" name="city" required>
        </div>
        <div class="form-group-2"><label for="status">Status:</label>
          <select id="status" name="status">
            <option value="active">Active</option>
            <option value="disabled">Disabled</option>
            <option value="new" selected>New</option>
            <option value="blocked">Blocked</option>
          </select>
          <label for="location">Location:</label>
          <select id="location" name="location">
            <option value="1" selected>Park79</option>
            <option value="2">Cambridge</option>
          </select>
        </div>
        <div class="form-group-2">
          <input type="submit" value="Add Customer"
            style="background-color: var(--secondary-color); color: white; border: none;">
        </div>
      </form>
      <script>
//        Write function to take in Date of Birth and Name
//        Break name into first/last and DOB into xx/xx/xxxx
//        Create portal password using format:
//        "LastName 2DigitMonth 2DigitDay 4DigitYear"
//        function createPortal(event) {
//          event.preventDefault(); // Prevent form submission
//          const fullNameInput = document.getElementById('name');
//          const DOBInput = document.getElementById('DOB');
//          const fullName = fullNameInput.value.trim();
//          const DOB = DOBInput.value.trim();
//          const [fname, lname] = fullName.split(' ');
//          const portalInput = document.getElementById('password');
//          portalInput.value = `${fname.charAt(0)}${lname}${DOB}`;
//          Submit the form
//          event.target.submit();
//        }
          function formatPhoneNumber(input) {
            const phoneNumber = input.value.replace(/\D/g, '');
            const formattedNumber = phoneNumber.replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');
            input.value = formattedNumber;
          }
      </script>
    </main>
    <footer>
      <p>&copy; 2023 ResiBridge</p>
    </footer>
  </body>
</html>